<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">NBA</div>
        <ul>
            <li><a href="index.php" class="active">Home</a></li>
            <li><a href="Training.php">Training</a></li>
            <li><a href="TeamProfile.php">Team Profile</a></li>
            <li><a href="login.php" class="login-btn">Login</a></li>
        </ul>
    </header>

    <section class="hero">
        <div class="hero-content">
            <p>Selamat Datang di</p>
            <h1>Training Course</h1>
            <p>
                Program training untuk pemula yang ingin mengembangkan <br>
                kemampuannya dalam dunia basket.
            </p>
            <button class="btn">Ikuti Pelatihan</button>
        </div>
    </section>
    
    <section class="players">
        <div class="card-player">
            <h1>Top Players</h1>
</body>
</html>